*.mod
*.o
*.make*
.directory
build/.directory
build/*.out
logs
bin/getmathflags
build/.depends
build/react*
build/phantom-version.h
*~
*/*~
*/*/*~
*.bindata
*.pyc
#*
.#*
*.optrpt
*.js
*.gz
*.tar.gz
*.tar
.DS_Store
_build
*.cmdx
*.cmod
*.ilm
*.stb
build/Makefile_setups_Orig
jobs/
scripts/output_bots.sh.txt
src/main/cons2prim.f90_Debug_NotUsed
src/main/cons2prim.f90_Orig
src/main/cooling_solver.f90_PleaseDontLoseThisVersion
src/main/evolve.F90_Debug
src/main/evolve.F90_Orig
src/main/force.F90_Debug_NotUsed
src/main/force.F90_Orig
src/main/initial.F90_Debug_NotUsed
src/main/initial.F90_Orig
src/main/inject_galcen_winds.f90_Orig
src/main/ptmass.F90_Orig
src/main/step_leapfrog.F90_Debug_NotUsed
src/main/step_leapfrog.F90_Orig
src/main/substepping.F90_Orig
src/main/units.f90_Orig
src/setup/setup_galcen_stars.f90_Orig

