*.mod
*.o
*.make*
.directory
build/.directory
build/*.out
logs
bin/getmathflags
build/.depends
build/react*
build/phantom-version.h
*~
*/*~
*/*/*~
eos_binary_table.dat
helm_data.tab
forcing.dat
*.bindata
*.pyc
#*
.#*
*.optrpt
*.js
*.gz
*.tar.gz
*.tar
.DS_Store
_build
*.cmdx
*.cmod
*.ilm
*.stb
build/Makefile_setups_Orig
jobs/
scripts/output_bots.sh.txt
src/main/cons2prim.f90_Debug_NotUsed
src/main/cons2prim.f90_Orig
src/main/cooling_solver.f90_PleaseDontLoseThisVersion
src/main/evolve.F90_Debug
src/main/evolve.F90_Orig
src/main/force.F90_Debug_NotUsed
src/main/force.F90_Orig
src/main/initial.F90_Debug_NotUsed
src/main/initial.F90_Orig
src/main/inject_galcen_winds.f90_Orig
src/main/ptmass.F90_Orig
src/main/step_leapfrog.F90_Debug_NotUsed
src/main/step_leapfrog.F90_Orig
src/main/substepping.F90_Orig
src/main/units.f90_Orig
src/setup/setup_galcen_stars.f90_Orig
build/fort.[0-9]*
radiation-test01explicit.ev
radiation-test01implicit.ev
radiation-test02explicit.ev
radiation-test02implicit.ev
scripts/output_v2_bots.sh.txt
scripts/output_v2b_bots.sh.txt
slurm-*.out
src/main/eos.f90_Orig
src/main/options.f90_Orig
src/main/readwrite_dumps_common.f90_Orig
src/main/readwrite_dumps_fortran.f90_Orig
src/main/readwrite_infile.F90_Orig
src/main/substepping.F90_TestOptions
src/main/utils_allocate.f90_Orig
src/main/utils_dumpfiles.f90_Debug
src/main/utils_dumpfiles.f90_Orig
test000
w.in
wind_profile1D.dat
src/main/readwrite_dumps_fortran.f90_Debug
src/main/utils_dumpfiles.f90_Debug2
src/main/cons2primsolver.f90_Orig
src/main/inject_galcen_winds.f90_Debug
src/main/partinject.F90_Debug
src/main/partinject.F90_Orig
scripts/output_bots_*.sh
src/*/*90_Orig*
src/*/*90_Debug*
*.swp
