*.mod
*.o
*.make*
.directory
build/.directory
build/*.out
logs
bin/getmathflags
build/.depends
build/react*
build/phantom-version.h
*~
*/*~
*/*/*~
eos_binary_table.dat
helm_data.tab
forcing.dat
*.bindata
*.pyc
#*
.#*
*.optrpt
*.js
*.gz
*.tar.gz
*.tar
.DS_Store
_build
*.cmdx
*.cmod
*.ilm
*.stb
build/Makefile*_Orig
build/fort.[0-9]*
jobs/
scripts/output_bots.sh.txt
scripts/output_*bots*.sh
scripts/output_*bots*.txt
src/*/*90_Orig*
src/*/*90_Debug*
src/*/*90_Save*
src/main/cooling_solver.f90_PleaseDontLoseThisVersion
src/main/force.F90_BeforeMajorDebug
src/main/substepping.F90_TestOptions
radiation-test01explicit.ev
radiation-test01implicit.ev
radiation-test02explicit.ev
radiation-test02implicit.ev
slurm-*.out
test000
w.in
wind_profile1D.dat
*.swp
